

    
<section class="section">
    <div class="container">
      

<div class="columns is-multiline">
    
    
    <div class="column is-7">
        <div class="card">
    <div class="card-image">
        <figure class="image">

 <iframe adapt_to_container="true" width="100%" class="image is-center  is-6" src="https://web.facebook.com/plugins/video.php?href=https%3A%2F%2Fweb.facebook.com%2Fmaigar33%2Fvideos%2F1372209943207996%2F&&width=1280" width="387" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
    </div>
    <div class="card-content">
        <div class="content">
            
            <hr>
            <p class="is-size-6">No Live Event</p>
            
        </div>
         
    </div>
</div>
    </div>
    

    
   

</div>



    </div>
</section>

    
   

</div>



    </div>
</section>  